


/* 
    Keep It Fit - created by uverit
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



    /* General Styles */

html{
    scroll-behavior:smooth;
}

body{
    /* Adobe Stock attribution */
    /* https://stock.adobe.com/pl/images/set-of-fruits-and-vegetables-doodle-vector-healthy-food-doodle-background/313011747?asset_id=313011747 */
    background-image:url("../img/background-img.svg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.wrapper{
    width:min(1024px, 100%);
    margin:0 auto;
    padding:0 var(--size6);
}

.glass{
    --border:var(--size05);

    position:relative;
    border:none;
    box-shadow:var(--boxShadow1), var(--boxShadowIns1);
    border-radius:var(--size4);

    background-image:url("../img/noise-texture-big.svg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    filter:drop-shadow(-8px 8px 4px rgb(0,0,0,0.05));
    backdrop-filter:blur(4px);
    transition:all var(--trans2), border-radius 0s;
    
    &:before{
        content:"";
        padding:var(--border);
        position:absolute;
        
        inset:0;
        mask:linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
        -webkit-mask:linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
        -webkit-mask-composite:xor;
        mask-composite:exclude;

        border-radius:inherit;
        background:var(--grad1);
        pointer-events:none;
    }

}

@media screen and (width <= 900px){

    .glass{
        filter:drop-shadow(-6px 6px 3px rgb(0,0,0,0.05));
        backdrop-filter:none;
    }  

}