


/* 
    Keep It Fit - created by uverit
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



.details-page{
    
    & header{
        width:100%;
        padding:var(--size8) 0;

        display:flex;
        justify-content:center;
        
        & .logo{
            height:var(--size9);
        }

    }

    & .details-body{
        max-width:100%;
        display:flex;
        align-items:flex-start;
        gap:var(--size7);

        & main{
            flex:1;
        }

    }

}



    /* Placeholder */

.details-page.details-placeholder .ph{ /* basically .glass + animation */
    --border:var(--size05);

    position:relative;
    border:none;
    box-shadow:var(--boxShadow1), var(--boxShadowIns2), var(--boxShadowIns1);
    border-radius:var(--size4);

    background-image:url("../img/noise-texture-big.svg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    background:var(--layoutShine1a); /* Fallback */
    background:linear-gradient(to right,
        var(--layoutShine1a) 30%,
        var(--layoutShine1b) 55%,
        var(--layoutShine1a) 70%
    );

    background-size:200vw;
    animation:phAnimation 1.2s linear forwards infinite;

    filter:drop-shadow(-10px 10px 6px rgb(0,0,0,0.05));
    backdrop-filter:blur(4px);
    transition:all var(--trans2), border-radius 0s;
    
    &:before{
        content:"";
        padding:var(--border);
        position:absolute;
        
        inset:0;
        mask:linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
        -webkit-mask:linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
        -webkit-mask-composite:xor;
        mask-composite:exclude;

        border-radius:inherit;
        background:var(--grad1);
        pointer-events:none;
    }

}

@media screen and (width <= 900px){

    .details-page.details-placeholder .ph{
        filter:drop-shadow(-6px 6px 3px rgb(0,0,0,0.05));
        backdrop-filter:none;
    }  

}

@keyframes phAnimation{
    0%{
        background-position:-100vw 0;
    }
    100%{
        background-position:100vw 0;
    }
}