


/* 
    Keep It Fit - created by uverit
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



:root{

        /* Colors */

    /* Main */
    --color1a:#ACDA0C;
    --color1b:#88D00D;

    /* Accent */
    --color2a:#11CCDD;
    --color2b:#0DAADD;

    /* Main BG */
    --color3a:#FBFFF4;
    --color3b:rgb(221,255,163,0.15);
    --color3c:rgba(250, 255, 237, 0.75);

    /* Accent BG */
    --color4a:#F1FBFF;
    --color4b:rgb(158,224,250,0.15);
    --color4c:rgba(232, 244, 250, 0.75);

    /* Layout */
    --layoutWhite:rgb(240,240,240,0.15);
    --layoutWhite2:rgb(252,252,252,0.75);

    --layoutShine1a:rgb(245,245,245,0.25);
    --layoutShine1b:rgb(220,220,220,0.6);

    --layoutShadow:rgb(196,196,196);

    /* Other */
    --warnColor:#FF0000;
    --attColor:#FFA000;;



        /* Text Colors */

    --txt-dark1:#333333;
    --txt-dark2:#4A4A4A;
    --txt-dark3:#888888;

    --txt-light1:#FFFFFF;
    --txt-light2:#EEEEEE;



        /* Box Shadows */

    --boxShadow1:0 0 8px 0 #EEE;
    --boxShadowIns1:inset 0 0 8px 0 #c1c1c1;


    
        /* Gradients */

    --grad1:linear-gradient(to bottom right, 
        rgb(190, 190, 190, 0.2),
        rgb(220, 220, 220, 0.15)
    );



        /* Sizes */

    --size05:2px;
    --size1:4px;
    --size2:8px;
    --size3:12px;
    --size4:16px;
    --size5:20px;
    --size6:24px;
    --size7:32px;
    --size8:48px;
    --size9:64px;
    --size10:96px;

    --scrollbar:var(--size2);



        /* Transitions */

    --trans1:0.1s  ease-in-out;
    --trans2:0.15s ease-in-out;
    --trans3:0.25s ease-in-out;
    --trans4:0.35s ease-in-out;

}

@media screen and (width <= 900px){

    /* no backdrop filter blur = less tranparent bg colors */

    :root{
        --color3c:rgba(248, 253, 238, 0.95);
        --color3b:var(--color3c);

        --color4c:rgba(239, 247, 252, 0.95);
        --color4b:var(--color4c);

        --layoutWhite2:rgb(252,252,252,0.9);
        --layoutWhite:var(--layoutWhite2);
    }

}

@media screen and (width <= 540px){

    :root{
        --size6:var(--size5);
    }

}




    /* Fonts */

@font-face{
    src:url(../fonts/Comfortaa-VariableFont_wght.ttf);
    font-family:mainFont;
    font-display:fallback;
}

@font-face{
    src:url(../fonts/Mulish-VariableFont_wght.ttf);
    font-family:accentFont;
    font-display:fallback;
}

.main-font{
    font-family:mainFont, Roboto, Arial, sans-serif;
}

p, a, select, label, button, input, textarea, th, td{
    color:var(--txt-dark1);
    font-size:18px;
    font-weight:400;
    line-height:1.2;

    text-wrap:pretty;
    text-decoration:none;
    transition:var(--trans2);
}

@media screen and (width <= 440px){
    
    p, a, label, button, input, textarea, th, td{
        font-size:16px;
        line-height:1.2em;
    }

}

@media screen and (width <= 320px){
    
    p, a, label, button, input, textarea, th, td{
        font-size:15px;
        line-height:1.2em;
    }

}

h1, h2, h3, h4, h5, h6{
    color:var(--txt-dark1);
    font-family:mainFont, Roboto, Arial, sans-serif;
    font-weight:800;

    text-wrap:balance;
    transition:var(--trans2);
}

h1{
    font-size:36px;
}
h2{
    font-size:30px;
}
h3{
    font-size:24px;
}
h4{
    font-size:22px;
}
h5{
    font-size:20px;
}
h6{
    font-size:18px;
}

@media screen and (width <= 440px){
    
    h1{
        font-size:32px;
    }
    h2{
        font-size:28px;
    }
    h3{
        font-size:22px;
    }
    h4{
        font-size:20px;
    }
    h5{
        font-size:18px;
    }
    h6{
        font-size:16px;
    }

}

@media screen and (width <= 320px){
    
    h1{
        font-size:28px;
    }
    h2{
        font-size:24px;
    }
    h3{
        font-size:20px;
    }
    h4{
        font-size:18px;
    }
    h5{
        font-size:16px;
    }
    h6{
        font-size:14px;
    }

}



    /* Scrollbar */

::-webkit-scrollbar{
    width:var(--scrollbar);
    height:var(--scrollbar);
}

::-webkit-scrollbar-track{
    background:transparent;
}

::-webkit-scrollbar-thumb{
    background:var(--color1a);
    border-radius:100px;
}

::-webkit-scrollbar-thumb:hover{
    background:var(--color1b);
}

::-webkit-resizer{
    background:var(--color1a);
}

::-webkit-scrollbar-corner{
    background:transparent;
}

.small-scroll::-webkit-scrollbar{
    width:calc((var(--size1) * 2) + var(--size1));
    height:0;
}
.small-scroll::-webkit-scrollbar-thumb{
    background:transparent !important;
    border:solid var(--size1) transparent;
    box-shadow:inset 0 0 100px 100px var(--color1a);
}
.small-scroll::-webkit-scrollbar-thumb:hover{
    box-shadow:inset 0 0 100px 100px var(--color1b);
}

.small-scroll-acc::-webkit-scrollbar{
    width:calc((var(--size1) * 2) + var(--size1));
    height:0;
}
.small-scroll-acc::-webkit-scrollbar-thumb{
    background:transparent !important;
    border:solid var(--size1) transparent;
    box-shadow:inset 0 0 100px 100px var(--color2a);
}
.small-scroll-acc::-webkit-scrollbar-thumb:hover{
    box-shadow:inset 0 0 100px 100px var(--color2b);
}



    /* Firefox Adjustments */

@-moz-document url-prefix(){ 
    
    *{
        scrollbar-color:var(--color1a) transparent !important;
        scrollbar-width:thin !important;
    }

}



    /* Style Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:accentFont, Arial, sans-serif;
    -webkit-tap-highlight-color:transparent;
}

*:focus{
    outline:0 !important;
}

*::selection{
    background:var(--color1a) !important;
}

html{
    overflow-x:clip;
}

body{
    width:100%;
    position:relative;
    overflow-x:clip;
}