


/* 
    Keep It Fit - created by uverit
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



.details-page nav .nav-content{

    & .nav-info-btn{

        & svg{
            width:var(--size5);
            aspect-ratio:1/1;

            & *{
                fill:none;
                stroke:var(--txt-dark1);
                stroke-linecap:round;
                stroke-linejoin:round;
                stroke-width:8px;
                transition:var(--trans1);
            }

        }

    }

    & .nav-info.lang-switch{

        & .nav-info-lang{
            height:var(--size6);
            display:flex;
            align-items:center;
            gap:var(--size4);
            cursor:pointer;

            & .flag-img{
                height:100%;
                box-shadow:0 0 4px 0 var(--shadowColor2);
                border-radius:var(--size1);
                overflow:clip;

                & img{
                    height:100%;
                    aspect-ratio:4/3;
                    object-fit:contain;
                }

            }

            & p{
                transition:var(--trans2);
            }

            &:hover p{
                color:var(--color2a);
            }

            &.curr-lang p{
                padding-left:var(--size2);
                color:var(--color2a);
            }

        }

    }

}