


/* 
    Keep It Fit - created by uverit
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



.main-page{
    height:100dvh;
    display:flex;
    justify-content:center;
    align-items:center;

    & .main-content{
        width:100%;
        height:100%;
        padding-top:var(--size9);

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        transition:0.5s padding;

        &:has(.search-list .list-elem):has(.search-input:focus){
            padding-top:0;
            padding-bottom:calc(var(--size10) * 2);
        }

    }

    & .logo{
        width:min(512px, 100%);
    }

    & .search-div{
        width:100%;
        position:relative;
        margin-top:var(--size9);
    }

    & .search-bar{
        width:100%;
        height:var(--size9);

        display:flex;
        background-color:var(--layoutWhite);

        /* Praise the holy :has() */
        &:has(~ .search-list .list-elem):has(.search-input:focus){
            border-radius:var(--size4) var(--size4) 0 0;
        }

        & .search-inner{
            flex:1;
            height:100%;
            position:relative;

            display:flex;
            align-items:center;
            overflow:clip;
        }

        & .search-placeholder{
            padding-left:var(--size6);
            position:absolute;
            display:none;
            pointer-events:none;

            &.show-placeholder{
                display:flex;
            }

            & .search-placeholder-txt{
                font-size:20px;
                color:var(--txt-dark3);
            }

            & .typed-cursor{
                width:2px;
                margin:0;
                margin-left:1px;
                margin-top:1px;
                display:block;

                background-color:var(--txt-dark3);
                border-radius:100px;

                &.typed-cursor--blink{
                    animation:cursorBlink 1.5s infinite !important;
                } 

            }

            &.hide-cursor .typed-cursor{
                display:none;
            }

        }

        & .search-input{
            width:100%;
            height:100%;
            padding-left:var(--size6);

            font-size:20px;
            background-color:transparent;
            border:none;

            white-space:nowrap;
            overflow:hidden;
    
            & *{
                display:inline;
                white-space:nowrap;
            }
    
            & br{
                display:none;
            }

        }

        & button{
            height:100%;
            aspect-ratio:1/1;

            display:flex;
            justify-content:center;
            align-items:center;

            background-color:transparent;
            border:none;

            & svg{
                width:var(--size7);
                
                & *{
                    stroke:var(--txt-dark3);
                    transition:var(--trans2);
                }
                
            }

            .main-content:has(.list-link) &.valid-search{
                cursor:pointer;

                & svg{
                    animation:searchValidAnim 3s ease-in-out infinite;

                    & *{
                        stroke:var(--txt-dark1);
                    }

                }

                &:hover svg *{
                    stroke:var(--color1a);
                }

            }

        }
 
    }

    & .search-msg{
        width:100%;
        min-height:var(--size9);
        margin-top:var(--size6);
        padding:var(--size4) var(--size5);

        display:flex;
        justify-content:center;
        align-items:center;

        text-align:center;
        background-color:var(--color3b);
        border-radius:var(--size4);

        opacity:0;
        transition:var(--trans3);

        &.search-msg-active{
            opacity:1;
        }

    }

}

@media screen and (height <= 768px) and (orientation: landscape){

    .main-page{

        & .main-content{
    
            &:has(.search-list .list-elem):has(.search-input:focus){
                padding-top:var(--size6);
            }
    
        }

        & .logo{
            width:auto;
            max-height:25dvh;
        }

        & .search-div{
            margin-top:var(--size7);
        }
        
    }

}

@media screen and (height <= 540px) and (orientation: landscape){

    .main-page{

        & .main-content{
            padding-top:var(--size10);
    
            &:has(.search-list .list-elem):has(.search-input:focus){
                padding-bottom:var(--size10);
            }
    
        }

        & .logo{
            max-height:27.5dvh;
        }

    }

}

@media screen and (height <= 440px) and (orientation: landscape){

    .main-page{

        & .main-content{
            padding-top:var(--size8);
    
            &:has(.search-list .list-elem):has(.search-input:focus){
                padding-bottom:var(--size9);
            }
    
        }

        & .search-div{
            margin-top:var(--size6);
        }

        & .search-bar{
            height:var(--size8);

            & .search-input{
                font-size:18px;
            }

            & button{
                width:var(--size8);

                & svg{
                    width:24px;
                }

            }
            
        }

        & .search-msg{
            height:0;
            min-height:0;
            margin-top:var(--size4);
    
            &.search-msg-active{
                min-height:var(--size9);
            }
    
        }

    }

}

@media screen and (width <= 440px){

    .main-page{

        & .search-bar{
    
            & button{
                width:var(--size8);

                & svg{
                    width:24px;
                }

            }
     
        }

    }

}

@media screen and (width <= 440px) and (height <= 540px){

    .main-page{

        & .main-content{
    
            &:has(.search-list .list-elem):has(.search-input:focus){
                padding-top:var(--size6);
                padding-bottom:var(--size10);
            }
    
        }

    }

}

@keyframes cursorBlink{
    0%, 20%{
        opacity:0;
    }
    30%, 70%{
        opacity:1;
    }
    80%, 100%{
        opacity:0;
    }
}

@keyframes searchValidAnim{
    0%{
        transform:rotate(0deg);
    }
    4%{
        transform:rotate(-15deg);
    }
    9%{
        transform:rotate(10deg);
    }
    15%{
        transform:rotate(-5deg);
    }
    20%{
        transform:rotate(0deg);
    }
}

.list-elem{
    display:flex;
    gap:8px;
}

.list-img{
    float:left;
    height:30px;
}