


/* 
    Keep It Fit - created by uverit
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



.details-page nav{
    --btnSize:var(--size9);
    --iconSize:var(--size7);

    width:calc(var(--btnSize) * 4);
    position:sticky;
    top:var(--size7);

    display:flex;
    flex-direction:column;
    gap:var(--size7);
    transition:var(--trans2);

    .loading-data &{
        pointer-events:none;
    }



        /* Nav Buttons */

    & .nav-buttons{
        width:100%;
        height:var(--btnSize);
        display:flex;

        background-color:var(--color4b);
        overflow:clip;

        & .nav-btn{
            flex:1;
            aspect-ratio:1/1;

            display:flex;
            justify-content:center;
            align-items:center;

            border-radius:inherit;
            transition:var(--trans2);
            cursor:pointer;

            & svg{
                height:var(--iconSize);

                & *{
                    fill:rgb(0,0,0,0);
                    stroke:var(--txt-dark1);
                    stroke-width:12px;
                    stroke-linecap:round;
                    stroke-miterlimit:10;
                    transition:var(--trans1);

                    &.nostroke{
                        fill:var(--txt-dark1);
                        stroke-width:0;
                    }

                }

            }

            &:hover{

                & *{
                    stroke:var(--color2a);

                    &.nostroke{
                        fill:var(--color2a)
                    }

                }

            }
            
            &.active{
                background-color:var(--color2b);

                & *{
                    stroke:var(--txt-light1);

                    &.nostroke{
                        fill:var(--txt-light1);
                    }

                }

            }

            &.active-bookmark *{
                fill:var(--color2b);
                stroke:var(--color2b);
            }

            &.btn-error *{
                stroke:var(--warnColor);

                &.nostroke{
                    fill:var(--warnColor);
                }

            }

            &:hover svg{
                animation:navAnimElem 0.6s ease-in-out; 
                
                .nav-user & .anim-elem1{
                    animation:navAnimElem1 0.6s ease-in-out;
                    transform-origin:center;
                }

                .nav-bookmark & .anim-elem1{
                    animation:navAnimElem2 0.6s ease-in-out;
                    transform-origin:center 20%;
                }

                .nav-fav-list & .anim-elem1{
                    animation:navAnimElem3 0.6s ease-in-out;
                    transform-origin:144px 4px;
                }

                .nav-pdf &{

                    & .anim-elem1{
                        animation:navAnimElem4 0.6s ease-in-out;
                        transform-origin:159px 39px;
                    }

                    & .anim-elem2{
                        animation:navAnimElem4b 0.6s ease-in-out;
                    }

                }

            }

        }

    }



        /* Nav Content */

    & .nav-content{
        width:100%;
        padding:var(--size7) 0;

        background-color:var(--color4b);
        transition:var(--trans2);

        & > div{
            display:none;
            flex-direction:column;
            gap:var(--size4);
            overflow:hidden;
        }

        & .nav-content-head{
            text-align:center;
        }

        & .nav-content-inner{
            max-height:min(448px, calc(
                100dvh - var(--size9) - var(--size4) - var(--size6) -
                (var(--size7) * 5)
            ));
            padding:0 var(--size6);

            display:flex;
            flex-direction:column;
            gap:var(--size3);
            overflow-x:auto;
        }

        & .nav-info-btn{
            height:var(--size7);
            aspect-ratio:1/1;
    
            position:absolute;
            top:var(--size3);
            right:var(--size3);

            display:flex;
            justify-content:center;
            align-items:center;
    
            color:var(--txt-dark1);
            background-color:var(--txt-light1);
            border-radius:var(--size2);
            
            transition:var(--trans2);
            z-index:100;
            cursor:pointer;
            overflow:clip;

            &:before{
                transition:var(--trans1);
                z-index:1000;
            }
    
            &:hover:before,
            .nav-info-open &:before{
                background:var(--color2a);
            }
            
        }
    
        & .nav-info{
            width:100%;
            margin-bottom:var(--size4);
            padding:var(--size4);
    
            display:none;
            flex-direction:column;
            gap:var(--size2);
            background-color:var(--txt-light1);
    
            .nav-info-open &{
                display:flex;
            }
    
            & .nav-info-txt{
                font-size:15px;
            }

            & .nav-info-lang{
                height:var(--size7);
                display:flex;
            }
    
        }

    }

    & .nav-content .nav-scroll{

        .scroll-visible &{
            display:flex;
        }

        & .scroll-link{
            min-height:var(--size6);
            padding-left:var(--size2);
            position:relative;
            
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;

            display:flex;
            align-items:center;

            transition:var(--trans2);
            cursor:pointer;

            &:hover{
                color:var(--color2a);
            }

            &:before{
                content:"";
                height:100%;
                min-width:var(--size05);

                position:absolute;
                top:0;
                left:0;

                border-radius:100px;
                transition:var(--trans1);
            }

            &.closest-section:before{
                background-color:var(--color2a);
            }

        }

    }
    
    & .nav-content .nav-favorites{

        .fav-list-visible &{
            display:flex;
        }

        & .fav-elem{
            display:flex;
            justify-content:space-between;
            align-items:center;
            gap:var(--size2);

            -webkit-touch-callout:none; /* iOS Safari */
            -webkit-user-select:none;   /* Safari */
            user-select:none;

            & p{
                text-transform:capitalize;
                text-overflow:ellipsis;
                white-space:nowrap;

                transition:var(--trans1);
                cursor:pointer;
                overflow:hidden;

                &:hover{
                    color:var(--color2a);
                }

            }

            & .no-favs{
                flex:1;
                text-align:center;
                cursor:text;
            }

            & .remove-fav-btn{
                width:var(--size5);
                min-width:var(--size5);
                height:var(--size5);
                position:relative;

                border:solid var(--size05) var(--txt-dark1);
                border-radius:var(--size1);
                cursor:pointer;

                & span{
                    width:100%;
                    height:var(--size05);

                    position:absolute;
                    top:50%;
                    left:50%;

                    background-color:var(--txt-dark1);
                    border-radius:100px;
                    transition:var(--trans1);

                    &:nth-child(1){
                        transform:translate(-50%, -50%) rotate(45deg);
                    }
                    &:nth-child(2){
                        transform:translate(-50%, -50%) rotate(-45deg);
                    }

                }

                &:hover span{
                    background-color:var(--warnColor);
                }

            }

        }

    }

}



        /* Nav - Burger Button */

.details-page nav .nav-buttons .burger-btn{
    --spanPos:calc( (var(--iconSize) - (var(--size05) * 3)) / 2 );

    display:none;

    & .burger-inner{
        height:var(--iconSize);
        aspect-ratio:1/1;
        position:relative;
    }

    & span{
        width:var(--iconSize);
        height:calc(var(--size05) * 3);

        position:absolute;
        left:50%;
        transform:translate(-50%, 0) rotate(0deg);

        border:solid var(--size05) var(--txt-dark1);
        border-radius:100px;
        transition:var(--trans2);

        &:is(:nth-child(1), :nth-child(4)){
            transition:all var(--trans2) 0.05s, border-color var(--trans2) 0s;
        }
        &:nth-child(1){
            top:0;
        }
        &:is(:nth-child(2), :nth-child(3)){
            top:var(--spanPos);
        }
        &:nth-child(4){
            top:calc(var(--spanPos) * 2);
        }

        &:nth-child(3):after{
            content:"";
            width:0;
            height:0px;

            position:absolute;
            top:50%;
            left:50%;

            transform:translate(-50%, -50%) rotate(-135deg);
            background-color:var(--color4a);
            transition-delay:0.1s;
        }

    }

    &:hover{

        & span{
            border-color:var(--color2a);

            &:is(:nth-child(1), :nth-child(4)){
                width:110%;
            }
    
            &:is(:nth-child(2), :nth-child(3)){
                width:90%;
            }

        }

    }

    .nav-open &{

        & span{
            width:calc(141% - (var(--size05) * 2));
            background-color:var(--color4a);
            border-color:var(--txt-dark1);
        }

        &:hover span{
            background-color:var(--color4a);
            border-color:var(--color2a);

            &:nth-child(3):after{
                background-color:var(--color4a);
            }

        }

        & span:is(:nth-child(1), :nth-child(4)){
            width:0;
            border-left:0;
            border-right:0;
            transition:0.15s ease-in;
        }

        & span:is(:nth-child(1), :nth-child(3), :nth-child(4)){
            transition-property:all, transform;
            transition-timing-function:ease-in, ease-in;
            transition-duration:0.1s, 0.2s;
        }
        
        & span:nth-child(2){
            transform:translate(-50%, 0) rotate(45deg);
            transition-property:all, transform, width;
            transition-timing-function:ease-in, ease-in, ease-in;
            transition-duration:0.1s, 0.2s, 0.4s;
        }
        
        & span:nth-child(3){
            transform:translate(-50%, 0) rotate(-45deg);
        }
        
        & span:nth-child(3):after{
            width:var(--size3);
            height:var(--size05);
            transform:translate(-50%, -50%) rotate(-90deg);
        }
        
        & span:is(:nth-child(1), :nth-child(4)){
            width:0;
        }

    }

}



    /* Nav - media */

@media screen and (width <= 900px){

    .details-page nav{
        width:var(--btnSize);
        position:fixed;
        top:var(--size6);
        right:var(--size6);
        pointer-events:none;

        align-items:flex-end;
        gap:var(--size6);
        z-index:10000;

        & .nav-content{
            width:0;
            height:0;
            
            background-color:var(--color4c);
            filter:none;
            animation:navContentClose var(--trans2) forwards;

            &:before{
                display:none;
            }

            & > div{
                opacity:0;
                transition:var(--trans1);
            }

            & .nav-content-inner{
                max-height:min(448px, calc(
                    100dvh - var(--size9) - var(--size4) -
                    (var(--size6) * 4) - (var(--size7) * 2)
                ));
            }

        }

        & .nav-buttons{
            width:100%;
            filter:none;

            & .nav-btn:not(.burger-btn){
                width:0;
            }

            & .burger-btn{
                display:flex;
                pointer-events:all;
            }

        }

            /* Nav Open */

        &.nav-open{
            width:calc(var(--btnSize) * 5);
            pointer-events:all;

            & .nav-content{
                width:100%;
                height:100%;
                animation:navContentOpen var(--trans2) forwards;

                &:before{
                    display:block;
                }

                & > div{
                    opacity:1;
                }

                & .nav-content-inner{
                    padding:0 var(--size6);
                }
                
            }

            & .nav-buttons{
                width:100%;

                & .nav-btn{
                    width:var(--btnSize);
                }

            }

        }
            
    }

}

@media screen and (width <= 440px){

    .details-page nav{
        --btnSize:var(--size8);
        --iconSize:28px;

        gap:var(--size2);

        & .nav-content .nav-content-inner{
            max-height:min(448px, calc(
                100dvh - var(--size8) - var(--size4) - var(--size2) -
                (var(--size6) * 3) - (var(--size7) * 2)
            ));
        }

    }

}

@media screen and (width <= 320px){
    .details-page nav{
        width:var(--btnSize);

        &.nav-open{
            width:calc(100% - (var(--size6) * 2));

            & .nav-buttons .nav-btn{
                width:auto;
                aspect-ratio:unset;
            }

        }

    }

}



        /* Nav - Keyframes */

@keyframes navContentOpen{
    0%{
        opacity:0;
    }
    10%, 100%{
        opacity:1;
    }
}
@keyframes navContentClose{
    0%, 90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes navAnimElem{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(-15deg);
    }
    50%{
        transform:rotate(10deg);
    }
    70%{
        transform:rotate(-5deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

@keyframes navAnimElem1{
    0%{
        transform:rotate(0deg);
    }
    30%{
        transform:rotate(-30deg);
    }
    55%{
        transform:rotate(20deg);
    }
    80%{
        transform:rotate(-10deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

@keyframes navAnimElem2{
    0%{
        transform:perspective(250px) rotateX(0deg) scale(1);
    }
    40%{
        transform:perspective(250px) rotateX(-14deg) scale(0.94);
    }
    70%{
        transform:perspective(250px) rotateX(10deg) scale(0.94);
    }
    100%{
        transform:perspective(250px) rotateX(0deg) scale(1);
    }
}

@keyframes navAnimElem3{
    0%{
        transform:perspective(250px) rotateX(0deg);
    }
    30%{
        transform:perspective(250px) rotateX(-40deg);
    }
    55%{
        transform:perspective(250px) rotateX(30deg);
    }
    80%{
        transform:perspective(250px) rotateX(-20deg);
    }
    100%{
        transform:perspective(250px) rotateX(0deg);
    }
}

@keyframes navAnimElem4{
    0%{
        transform:perspective(250px) rotateX(0) rotateY(0);
    }
    30%{
        transform:perspective(250px) rotateX(-40deg) rotateY(-25deg);
    }
    55%{
        transform:perspective(250px) rotateX(-10deg) rotateY(-5deg);
    }
    75%{
        transform:perspective(250px) rotateX(-40deg) rotateY(-25deg);
    }
    100%{
        transform:perspective(250px) rotateX(0) rotateY(0);
    }
}

@keyframes navAnimElem4b{
    0%{
        transform:translate(0, 0);
    }
    30%{
        transform:translate(24px, 0);
    }
    55%{
        transform:translate(0, 0);
    }
    80%{
        transform:translate(8px, 0);
    }
    100%{
        transform:translate(0, 0);
    }
}