


/* 
    Keep It Fit - created by uverit
    Do not copy or distribute
*/

/* Media breakpoints - 1440, 1200, 1024, 900, 768, 540, 440, 320 */



.table-div{
    max-width:calc(100vw - (var(--size6) * 2));
    margin-top:var(--size9);
    position:relative;

    filter:drop-shadow(-6px 6px 3px rgb(0,0,0,0.05));
    backdrop-filter:blur(4px);

    &.table-macro{
        --mainColor:var(--color1a);
        --secColor:var(--color1b);
        --bg:var(--color3b);
    }

    &.table-micro{
        --mainColor:var(--color2a);
        --secColor:var(--color2b);
        --bg:var(--color4b);
    }

    & .table-shadow{
        width:100%;
        height:100%;

        position:absolute;
        top:0;
        left:0;

        filter:none;
        backdrop-filter:none;
        pointer-events:none;
        z-index:1000;
    }

    & .table-top{
        width:100%;
        min-height:var(--size9);
        padding:var(--size4) var(--size4);

        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:center;

        border-radius:var(--size4) var(--size4) 0 0;
        background-color:var(--layoutWhite);
        overflow:clip;

        & h3{
            margin-bottom:-4px;
        }

        & .serving-adj{
            display:flex;
            align-items:center;
            gap:var(--size4);

            & .serv-inp{
                width:var(--size10);
                height:var(--size7);
                position:relative;
                
                border:solid var(--size05) var(--mainColor);
                border-radius:var(--size2);

                &:after{
                    content:"g";

                    position:absolute;
                    top:50%;
                    right:var(--size3);
                    transform:translate(0, -50%);

                    color:var(--txt-dark3);
                    pointer-events:none;
                }

                & input{
                    width:100%;
                    height:100%;
                    padding-left:var(--size3);
                    padding-right:28px;
    
                    color:var(--txt-dark3);
                    background-color:transparent;
                    border:none;
                }

            }

        }

    }

    & .table-inner{
        width:100%;
        overflow-y:auto;

        &::-webkit-scrollbar-thumb{
            border-left:solid var(--size3) transparent;
            border-right:solid var(--size3) transparent;
        }

    }

    & .nutri-table{
        width:100%;
        min-width:540px;
        
        border-collapse:collapse;
        border-radius:0 0 var(--size4) var(--size4);
        overflow:clip;

        & :is(thead, tbody){
            border-top:solid var(--size05) var(--mainColor);
        }

        & tr{
            height:var(--size7);

            .table-macro &:nth-child(1){
                height:var(--size8);

                & :is(th, td):nth-child(1){
                    padding-left:var(--size4);
                }

            }

                /* Cells */
            
            & :is(th, td){
                will-change:background-position;

                &:nth-child(1){
                    text-transform:capitalize;
                }

            }

            & th{
               font-size:16px;
            }

            .table-micro & :is(th, td):nth-child(1){
                padding-left:var(--size4);
            }

            .details-page.details-placeholder & td.ph{
                filter:none !important;
                backdrop-filter:none !important;
                box-shadow:none !important;
                border-radius:0 !important;

                &:before,
                & p{
                    display:none;
                }
    
            }

            &:nth-child(2n + 1) :is(th, td){
                background-color:var(--layoutWhite);

                .details-page.details-placeholder &.ph{
                    background:linear-gradient(to right,
                        var(--layoutShine1a) 30%,
                        var(--layoutShine1b) 55%,
                        var(--layoutShine1a) 70%
                    );
                
                    background-size:200vw;
                    animation:phAnimation 1.2s linear forwards infinite;
                }

            }

            &:nth-child(2n + 2) td{
                background-color:var(--bg);

                .details-page.details-placeholder &.ph{
                    background:linear-gradient(to right,
                        var(--color3b) 30%,
                        var(--layoutShine1b) 55%,
                        var(--color3b) 70%
                    );
                    background-size:200vw;
                    animation:phAnimation 1.2s linear forwards infinite;
                }

            }

        }

        & :is(th, td):not(.t-span){
            width:13%;
            padding-left:var(--size4);

            text-align:left;
            text-wrap:nowrap;

            &:nth-child(1){
                width:48%;
                padding-left:calc(var(--size3) + var(--size4));
                padding-right:var(--size2);
            }

            &.s-cell{
                padding:0 var(--size4);
            }
            
        }

        .table-micro &{

            .details-page.details-placeholder & tr:nth-child(2n + 2) td.ph{
                background:linear-gradient(to right,
                    var(--color4b) 30%,
                    var(--layoutShine1b) 55%,
                    var(--color4b) 70%
                );
                background-size:200vw;
                animation:phAnimation 1.2s linear forwards infinite;
            }
                
            & thead tr{
                height:var(--size8);
            }
            
        }

        & .t-span{
            height:100%;
            min-width:var(--size05);
            max-width:var(--size05);
            position:relative;

            &:after{
                content:"";
                width:100%;
                height:var(--size6);

                position:absolute;
                top:50%;
                left:0;
                transform:translate(0, -50%);

                background-color:var(--mainColor);
                border-radius:100px;
            }

        }

        & .amr-cell-info{
            position:relative;
            transition:var(--trans1);
            cursor:help;

            &:hover{
                color:var(--mainColor);
            }

            & div{
                width:min(320px, calc(calc(100vw - (var(--size6) * 2))));
                padding:var(--size4);

                position:absolute;
                top:100%;
                right:0;

                text-wrap:wrap;
                opacity:0;
                background-color:var(--layoutWhite2);

                transition:var(--trans1);
                pointer-events:none;
                z-index:1000;
            }

            &:hover div{
                opacity:1;
                pointer-events:all;
            }

        }
        
    }

}

@media screen and (900px < width <= 1024px),
    screen and (width <= 768px){

    .table-div{

        & .nutri-table{
    
            & :is(th, td):not(.t-span) p{
                width:auto;
                font-size:16px;
    
                &:nth-child(1){
                    width:auto;
                }
                
            }
    
        }
    
    }

}

@media screen and (width <= 900px){

    .table-div{
        filter:drop-shadow(-6px 6px 3px rgb(0,0,0,0.05));
        backdrop-filter:none;
    }  

}

@media screen and (width <= 768px){

    .table-div{

        & .nutri-table{

            & .amr-cell-info1{

                & div{
                    top:100%;
                    right:50%;
                    transform:translate(50%, 0);
                }
            }

        }

    }  

}

@media screen and (width <= 540px){

    .table-div{

        &.table-macro .table-top{
            padding-right:var(--size7);
            row-gap:var(--size2);
    
            & h3{
                width:100%;
            }
    
        }

        & .nutri-table{

            & .amr-cell-info{
                position:static;

                & div{
                    top:calc(var(--size10) + var(--size8));
                    right:0;
                    transform:translate(0, 0);
                }
            }

        }

    }  

}

@media screen and (width <= 440px){

    .table-div{

        & .nutri-table .amr-cell-info div{
            top:calc(var(--size10) + var(--size8) - var(--size1));
        }

    }  

}

@media screen and (width <= 320px){

    .table-div{

        &.table-macro .table-top{
    
            & .serving-adj{
                flex-direction:column;
                align-items:flex-start;
                gap:var(--size05);
            }
    
        }

        & .nutri-table .amr-cell-info div{
            top:calc(var(--size10) + var(--size8) + var(--size4));
        }

    }  

}